body {
    font-family:"HGP創英角ｺﾞｼｯｸUB";
    background-image: 
    url(images/105164594-巨大な棒グラフの上に立って、近代的な街並みを見ている岬のビジネスマンのシルエット。トーン画像ダブル露光モックアップ.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.header {
    

}